:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
}

body *{
  z-index: 1;
}

/* navbar */
.navbar{
  padding: 40px 80px;
  display: flex;
  justify-content: space-between;
}
.container-logo img{
  width: 200px;
}
.container-btn a::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #D5FF63;
  margin-right: 5px;
}
.container-btn{
  display: flex;
  align-items: center;
}
.container-btn a {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: transparent;
  color: #fff;
  font-family: 'Poppins', var(--default-font-family);
  border: 1px solid #fff;
  text-decoration: none;
}
 /* fim navbar  */

/* hero */
.hero-section{
  min-width: 100%;
  min-height: 650px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 1) 100%
  ),
  url('/assets/images/background.png') no-repeat center;
  /* background: url('/assets/images/background.png') no-repeat center;  */
  background-size: cover;
  color: #fff;
  z-index: -2;
}

.hero-content{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.highlight {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.highlight::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: #B91C1C;
  transition: width 0.5s ease-in-out;
}

.highlight.show::before {
  width: 100%;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hero-content h2{
  font-size: 24px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 20px;
}
.hero-content h1{
  font-size: 105px;
  font-weight: 700;
  text-align: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  letter-spacing: -1.05px;
}

.hero-content p{
  font-size: 18px;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin-top: 10px;
}

/* Fim Hero  */


/* Inicio Team  */
.container-team{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 80px;
  margin-top: 40px;
}
.content-team{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.content-team h2{
  font-size: 52px;
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
}
.content-team p{
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 10px;
  color: #C1C1C1;
  padding-right: 60px;
}
.image-team img{
  max-width: 100%;
  height: 100%;
}
.item-skils{
  font-size: 14px;
  color: #fff !important;
  margin-top: 10px;
  font-weight: 600;
}

.item-skils img{
  width: 20px;
  margin-right: 10px;
}
/* Fim Team  */


/* Solucoes  */
.container-solution{
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.container-solution h2{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #22E27F;
}

.container-solution h1{
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.content-solution{
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
  min-height: 300px;
  padding: 0 80px;
}
.item-solution{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  background-color: #d9d9d91e;
  border: 0.8px solid #5F626E;
  border-radius: 20px;
  padding: 40px 20px;
}
.item-solution h3{
  font-size: 32px;
}
/* Fim soluções */

/* Serviços  */
.container-services{
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0;
}
.container-services h2{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #22E27F;
}
.container-services h1{
  font-size: 56px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}
.content-services{
  display: flex;
  gap: 10px;
  padding: 0 80px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-service{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 50px;
  min-height: 220px;
  width: 22%;
}
.item-service h3{
  font-size: 20px;
  font-weight: 600;
}
.item-service p{
  color: #BDBFD4;
  font-size: 16px;
}
.service-image{
  background-color: #d9d9d91e;
  border: 0.8px solid #5F626E;
  padding: 16px;
  width: 20px;
  height: 20px;
  border-radius: 12px;
}
.service-image img{
  width: 100%;
  height: 100%;
}
/* Fim serviços */

/* Qualidades  */

.container-compare{
  background-color: #fff;
  padding: 80px 0;
  font-family: "Space Grotesk", sans-serif;
  color: #191a28;
}
.titulo-principal{
  font-size: 36px;
  text-align: center;
  font-weight: 600;
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 40px;
}
.content-principal{
  max-width: 1000px;
  margin: 0 auto;
}

.content-compare{
  display: flex;
  justify-content: flex-end;
  color: #191a28;
  gap: 20px;
  width: 100%;
}  


.comparison-rows{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.comparison-rows .invert{
  background-color: #ffffff;
}

.comparison-row{
  max-width: 100%;
  width: 100%;
  display: flex;
  background-color: #e6e6e6;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 32px;
  font-size: 16px;
  min-height: 40px;
}
.comparison-item{
  width: calc(60% - 32px * ((4 - 1) / 4));
  color: #000;
  padding-left: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  position: relative;
  background-size: cover;
}
.comparison-icon{
  width: calc(13.34% - 32px * ((4 - 1) / 4));
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.checked{
  background-color: #D5FF63;
}
.invert .checked {
  background-color: #EEFFC1;
}

/* Fim Qualidades  */

/* Depoimentos  */

.depoiments{
  padding: 100px 0;
  font-family: "Space Grotesk", sans-serif;
  color: #fff;
}

.container-depoimentos {
  position: relative;
  display: flex;
  margin: 24px 0 0 0;
  z-index: 239;
  overflow: hidden;
}
.depoiment{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  background: #191a28;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  width: 25%;
}
.depoiment p{
  color: #BDBFD4;
  font-size: 16px;
}
.header-depoiments {
  position: relative;
  width: 190px;
  height: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header-depoiments .profile{
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.content-depoiments{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header-depoiments h3{
  font-size: 18px;
}
.header-depoiments h4{
  font-size: 14px;
  color: #BDBFD4;
}
.heading-bessie-cooper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 22.5px;
  top: 0;
  left: 64px;
  color: #ffffff;
  font-family: Space Grotesk, var(--default-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 22.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 243;
}
.rating .star{
  width: 20px;
  color: #E6F85E;
}
.container-depoiments{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

/* Fim Depoimentos  */

.big-text{
  font-size: 86px;
  font-family: "Space Grotesk", sans-serif;
  padding: 0 80px;
  font-weight: 700;
  text-align: center;
}

.title-text-outline{
  color: transparent;
  -webkit-text-stroke: 2px #fff; 
}

/* Contatos  */
.contact-section {
  position: relative;
  font-family: "Space Grotesk", sans-serif;
  padding: 140px 0 100px 0;
}

.contact-container{
  display: flex;
  justify-content: center;
  align-items: start;
  padding:  0 80px;
}

.mascot-image{
  width: 40%;
  height: auto;
  position: absolute;
  right: -16px;
}

.contact-text{
  width: 50%;
  position: relative;
}
.contact-text h2{
  font-size: 48px;
  margin-bottom: 16px;
}

.contact-text p{
  font-size: 20px;
  color: #fff;
  margin-bottom: 32px;
}
.contact-form{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  background-color: #d9d9d911;
  padding: 40px;
  gap: 28px;
  border: 1px solid #5F626E;
  border-radius: 30px;
  /* filter: blur(500px); */
  backdrop-filter: blur(10px);
}

.form-contact{
  width: 100%;
}

.contact-form h3{
  font-size: 48px;
}

.contact-form input {
  width: -webkit-fill-available;
  margin-bottom: 15px;
  padding: 20px;
  font-size: 20px;
  border: 1px solid #fff;
  border-radius: 30px;
  background-color: transparent;
  color: #fff;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

/* Footer  */
.footer-section {
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1200px;
  font-family: "Space Grotesk", sans-serif;
  margin: 0 auto;
  padding: 0 80px 40px 80px;
  color: #fff;
  gap: 200px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 300px;
  height: auto;
}

.contact-info {
  color: #fff;
  display: flex;
  gap: 20px;
}

.contact-info p {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 0;
}

.contact-info img {
  width: 20px;
  padding-right: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons a {
  padding: 10px;
  background-color: #22E27F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons img {
  width: 20px;
  max-height: 20px;
  object-fit: contain;
}

.information-contact{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ellipse {
  position: absolute;
  width: 640px;
  height: 640px;
  border-radius: 50%;
  filter: blur(350px);
  opacity: 0.8;
  z-index: 0 !important;
}

.green {
  background-color: #0F493B;
}
.red {
  background-color: #421220;
}

.ellipse-1 {
  left: -99px;
  top: -202px;
}

.ellipse-2 {
  left: 1141px;
  top: -47px;
}

.ellipse-3 {
  left: -99px;
  top: 661px;
}

.ellipse-4 {
  left: 1171px;
  top: 740px;
}

.ellipse-5 {
  left: 807px;
  top: 1374px;
}

.ellipse-6 {
  left: -238px;
  top: 3060px;
}

.ellipse-7 {
  left: 1191px;
  top: 2923px;
}

.ellipse-8 {
  left: -70px;
  top: 4065px;
}

.ellipse-9 {
  left: 1235px;
  top: 4061px;
}
/* 
.ellipse-10 {
  left: 400px;
  top: 800px;
} */